.pl-outdiv{
    width: 256px;
    position: relative;
height: 498px;
background: #BF9B9B;
border-radius: 15px;
}
.pl-outdiv>h2{
    width: 55px;
height: 20px;
padding-top: 22px;
padding-left: 26px;
padding-bottom: 16px;
font-family: "SFProDisplay-Medium";
font-style: normal;
font-weight: 600;
font-size: 20px;
margin-top: 0em;
margin-bottom: 0em;
line-height: 24px;

color: #FFFFFF;

}

.pl-b1{
    width: 256px;
height: 33px;
position: relative;
display: flex;
justify-content: space-between;
align-items: center;

background: #9C757C;
}
.pl-b1>h3{
    margin-left: 20px;
    font-family: "SFProDisplay-Medium";
    
font-size: 15px;
margin-top: 0em;
margin-bottom: 0em;
color: #FFFFFF;


}
.pl-b1>button{
    width: 75px;
height: 33px;

background: #733D47;
border-radius: 0px;
font-family: "SFProDisplay-Medium";
outline:none;
border: none;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

/* identical to box height */

color: #F2D8D5;
}
.pl-bottom{
    position: absolute;
    bottom:18px;
    left: 17px;
    right:17px;
}
.pl-white{
    width: 252px;
max-height: 333px;
padding-right: 17px;
padding-left: 17px;
padding-top: 12px;
padding-bottom: 14px;
background: #FFFFFF;
border: 2px solid #BF9B9B;
box-sizing: border-box;
}
.pl-white-p{
    font-size: 15px;
line-height: 18px;
margin-top: 0em;
margin-bottom: 0em;
/* identical to box height */
font-family: "SFProDisplay-Medium";

color: #733D47;
}
.pl-live{


font-family: "SFProDisplay-Medium";
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;

/* identical to box height */

color: #E91414;



/* Rectangle 1774 */

width: 28px;
height: 17px;

border: 0.5px solid #D1093A;
box-sizing: border-box;
}
.pl-wd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pl-option{
    width: 20px;
height: 20px;
margin-right: 13px;
display :flex;
justify-content: center;
align-content: center;
background: #AE7B7B;
border: 1px solid #F2D8D5;
box-sizing: border-box;
border-radius: 3px;

font-family: "SFProDisplay-Medium";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

/* identical to box height */

color: #F2D8D5;


}
.pl-hr{

border: 1px solid #BF9B9B;
}
.poll-modal{
    position: relative;
    padding-left: 33px;
    padding-right: 40px;
    padding-bottom:34px;
    width: 641px;
height: 555px;
left: 326px;
top: 85px;
display: flex;
flex-direction: column;


background: #FFFFFF;
border-radius: 20px;
}
.plm-h1{
    font-family: "SFProDisplay-Medium";
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
margin: 0em;
/* identical to box height */

color: #733D47;
    padding-top: 33px;
    padding-bottom: 34px;
}
.plm-textbox{
    width: 642px;
height: 50px;
left: 358px;
top: 189px;
border: none;
outline: none;
background: #FFF6F6;
border-radius: 11px;
}
.plm-textbox:focus{
    border: none;
    outline: none;
}
.plm-div{
    width: 642px;
height: 40px;
left: 358px;
top: 319px;
display: flex;
align-items: center;
background: rgba(242, 216, 213, 0.63);
border-radius: 5px;
}

.plm-option{
    margin-left:5px ;
    margin-right: 17px;
    width: 30px;
height: 30px;
left: 363px;
top: 379px;
display: flex;
justify-content: center;
align-items: center;
background: #F2D8D5;
border-radius: 3px;
}
.plm-create{
    width: 106px;
height: 50px;
border: none;
outline: none;
font-family: "SFProDisplay-Medium";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

/* identical to box height */

color: #F2D8D5;
position: absolute;
bottom:34px;
right:36px;

background: #733D47;
border-radius: 11px;
}

.plm-cancel{
    width: 106px;
    background-color: transparent;
height: 50px;
border: none;
outline: none;
font-family: "SFProDisplay-Medium";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px; 
position: absolute;
color:   #808080;
bottom:34px;
right:180px;


}
.plm-addq{
    font-family: "SFProDisplay-Medium";
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
position: absolute;
bottom:47px;
left:36px;
/* identical to box height */
text-decoration-line: underline;

color: #733D47;
}